<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="deposit">
	<select id="selectAllDeposit" resultType="DepositVO">
	 <![CDATA[
		select pay_no, tfr_mem_no, tran_type, price, to_char(tfr_create_at, 'yyyy-mm-dd hh24:mm:ss') as tfr_create_at, tfr_cont, (select mem_bal from member where mem_no = #{mem_no} ) as mem_bal
		  from (select * from deposit_account_transaction_details
		 order by tfr_create_at desc)
		 where tfr_mem_no = #{mem_no}  
    ]]>
	</select>
	
	<insert id="insertDeposit" parameterType="DepositVO">
		insert into deposit_account_transaction_details(
		    pay_no, 
		    tfr_mem_no, 
		    tran_type, 
		    price, 
		    tfr_create_at, 
		    tfr_cont)
		 values(
		    seq_deposit_account_transaction_details.nextval,
		    #{tfr_mem_no},
		    1,
		    #{price},
		    sysdate,
		    #{tfr_cont}
		)
	</insert>
</mapper>