<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="search">
	<select id="selectSearchProduct" parameterType="String" resultType="ProdImgVO">
		select c.prod_no, c.prod_name, c.prod_price, c.prod_newing, d.file_path, d.file_org_name, c.prod_tr_status
		  from (select *
		          from product a, member b
		         where a.mem_no = b.mem_no
		           and a.PROD_DELETED = 0
		           and (a.prod_name like '%'||#{searchText}||'%'
		                or b.mem_alias like '%'||#{searchText}||'%')) c, img_file d
		 where c.prod_no = d.file_no
		   and d.file_source = 200
		   and d.file_total = 1
		 order by prod_newing desc
	</select>
	<select id="searchNoticeBoard" parameterType="String" resultType="NoticeBoardVO">
		SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONT, TO_CHAR(NOTICE_AT, 'yyyy-mm-dd') as NOTICE_AT, NOTICE_CNT
		  FROM NOTICE_BOARD
		 WHERE NOTICE_TITLE LIKE '%'||#{searchText}||'%' 
		    OR NOTICE_CONT LIKE '%'||#{searchText}||'%'
		 ORDER BY NOTICE_NO DESC
	</select>
	<select id="searchQnaBoard" parameterType="Map" resultType="QnaBoardVO">
		SELECT QNA_NO, MEM_NO, QNA_TITLE, QNA_TYPE, TO_CHAR(QNA_AT, 'yyyy-mm-dd') as QNA_AT, QNA_CONT, QNA_STATUS, QNA_COM_STATUS
		  FROM QNA_BOARD
		 WHERE (QNA_TITLE LIKE '%'||#{searchText}||'%'
		    or QNA_CONT LIKE '%'||#{searchText}||'%')
		   and mem_no = #{mem_no}
		 ORDER BY QNA_NO DESC
	</select>
	<select id="getQnaBoardList" resultType="QnaBoardVO">
		SELECT QNA_NO, MEM_NO, QNA_TITLE, QNA_TYPE, TO_CHAR(QNA_AT, 'yyyy-mm-dd') as QNA_AT, QNA_CONT, QNA_STATUS, QNA_COM_STATUS
		  FROM QNA_BOARD
		 ORDER BY QNA_NO DESC
	</select>
	<select id="getQnaBoardOne" parameterType="Map" resultType="QnaSetVO">
		SELECT QNA_NO, MEM_NO, QNA_TITLE, QNA_TYPE, TO_CHAR(QNA_AT, 'yyyy-mm-dd') as QNA_AT, QNA_CONT, QNA_STATUS, QNA_COM_STATUS
		  FROM QNA_BOARD
		 WHERE QNA_NO = #{qna_no}
		   AND MEM_NO = #{mem_no}
	</select>
	<select id="getQnaComments" parameterType="Integer" resultType="QnaSetVO">
		SELECT QNA_NO, TO_CHAR(CMT_AT, 'yyyy-mm-dd') as CMT_AT, CMT_CONT
		  FROM QNA_COMMENTS
		 WHERE QNA_NO = #{qna_no}
	</select>
	<select id="getFAQBoardList" resultType="FAQBoardVO">
        SELECT FAQ_NO, FAQ_TITLE, FAQ_CONT, TO_CHAR(FAQ_AT, 'yyyy-mm-dd') as FAQ_AT, FAQ_TYPE
		  FROM FAQ_BOARD
		 ORDER BY FAQ_NO DESC
	</select>
	
	
	
	<select id="searchReportBoard" parameterType="String" resultType="ReportBoardVO">
		select rpt_no, mem_no, rpt_type, rpt_idx_no, rpt_title, rpt_text, to_char(rpt_time, 'yyyy-mm-dd') as rpt_time, rpt_status, rpt_com_status
	  	   from report_board
		   where (rpt_title like '%' || #{searchText} || '%'
	     		or rpt_text like '%' || #{searchText} || '%')
	 	   order by rpt_no desc
	</select>
	
	<select id ="getReportBoardOne" parameterType="int" resultType="ReportSetVO"> 
		select rpt_no, mem_no, rpt_title, rpt_type, to_char(rpt_time, 'yyyy-mm-dd') as rpt_time, rpt_status, rpt_com_status, rpt_text, rpt_idx_no
		  from report_board
		 where rpt_no = #{rpt_no}
	</select>
	
	<select id ="getReportBoardList" resultType="ReportSetVO"> 
		select rpt_no, mem_no, rpt_title, rpt_type, to_char(rpt_time, 'yyyy-mm-dd') as rpt_time, rpt_status, rpt_com_status, rpt_text, rpt_idx_no
		  from report_board
		   order by rpt_no desc
	</select>
	
	
	<select id="getReportComments" parameterType="int" resultType="ReportSetVO">
		select rpt_mem_no, to_char(cmt_at, 'yyyy-mm-dd') as cmt_at, cmt_cont
		  from report_comments
		 where rpt_mem_no = #{rpt_mem_no}
	</select>
</mapper>