<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wishlist">
	<select id="countWishlist" parameterType="int" resultType="int">
		select count(*)
  		  from wishlist
 		 where mem_no = #{mem_no}
	</select>
	
	<select id="countProdWish" parameterType="int" resultType="int">
		select count(*)
  		  from wishlist
 		 where prod_no = #{prod_no}
	</select>
	
	<insert id="insertWish" parameterType="WishlistVO">
		insert into wishlist
		values(#{mem_no}, #{prod_no}, sysdate)
	</insert>
	
	<select id="distinctWish" parameterType="WishlistVO" resultType="int">
		select count(*) from wishlist
		where prod_no = #{prod_no} and mem_no = #{mem_no}
	</select>
	
	<delete id="deleteWish" parameterType="WishlistVO">
		delete from wishlist
		where mem_no = #{mem_no} and prod_no= #{prod_no}
	</delete>
</mapper>